footer {
    padding: 3%;
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
        a {
          color: red;
        }
      }
      nav {
        ul {
          display: flex;
          gap: 30px;
          margin: 0;
          a {
            width: 40px;
            height: 40px;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              color: white;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 992px) {
      .footer {
        flex-direction: column;
      }
    }
  }